@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.background{
    background-image: 
    url("../src/img/background.png");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #311813;
}