@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  background-image: url("../src/img/background.png");
  background-size: cover;
  color: #311813;
}

.header h1 {
  font-family: "Ubuntu", sans-serif;
}

#emptyList {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.groceries {
  padding-top: 10px;
  height: 60vh;
}

.groceries::-webkit-scrollbar {
  display: none;
}
